body{
    font-family: 'Roboto', sans-serif;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    margin: 0;
}
.container{
flex:1;
}

.nav-item{
    letter-spacing:.2em;
    font-size:14px;
    text-transform :uppercase;
}

.dropdown-item{
 letter-spacing:.2em;
    font-size:14px;
    text-transform :uppercase;
}
.my_footer{
    background-color:#dee2e6;
    height:60px;

}

.my_footer p{
    padding-top:20px;
    font-size:14px;
}

/*** category page ***/
.my_row_class{
padding-top:15px;
}

.my_row_class .mx-auto{
   color:black;
    font-size:12px;
}

.my_image{
width:100%;
height:auto;

}
.my_title{
font-size:26px;
text-transform:uppercase;
letter-spacing:.2em
}
.my_image_padding{
padding:5px;
}


.card-body h4
{

font-size:36px;
text-transform:uppercase;
letter-spacing:.2em
}

.my_bottommargin{
margin-bottom: 20px;
}

.card-container {
  display: flex;
}

.my_prod_row_class{
padding-top:15px;
padding-bottom:20px;
}

.my_prod_row_class .my_prod_2 {
color:black;
font-size:14px;
text-decoration:none;
}
.my_prod_title{
font-size:26px;
text-transform:uppercase;
letter-spacing:.2em;
padding-top:15px;
padding-bottom:10px;
}
.my_prod_text{
padding-right:20px;
}
.my_search_text{
padding-top:20px;
}
/*** cart page**/

.my_custom_table{
    min-width:400px;
    font-size:14px;
     border-collapse: collapse;
}
.my_custom_thead{
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:.2em;
    background-color:#f8f8fa!important;
     border: 1px solid black;
}
.custom_a{
 text-decoration:none;
}
.custom_icon{
    text_decoration:none;
    color:#868e96 !important;
}
.custom_image{
width:auto;
height:100px;
}
.my_custom_button{
margin-top:5px;
}
tbody td{
border: none;
}